@media (min-width: 1200px) {
    .cheader {
        padding: 0px 29px 0px;
    }
}

@media (max-width: 767.98px) {
    .card-box {
        width: 540px !important;
    }
}

.alert {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}